BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;

#################################################################
# Basic Settings
#################################################################

SYSCONFIG MCCLK_FREQ = 133.00 JTAG_PORT = ENABLE;
FREQUENCY NET clk_i  133 MHz;
FREQUENCY NET clk_i_inferred_clock  133 MHz;
# 
#   FREQUENCY PORT CLK_PCLK_RIGHT 200 MHz;
#   FREQUENCY PORT CLK_PCLK_LEFT  200 MHz;
#   FREQUENCY PORT CLK_GPLL_RIGHT 200 MHz;
#   FREQUENCY PORT CLK_GPLL_LEFT  125 MHz;

MULTICYCLE FROM PORT "SPI_*" 20.000000 ns ;
MULTICYCLE TO PORT "SPI_*" 20.000000 ns ;

#################################################################
# I/O
#################################################################

LOCATE COMP "LED_WHITE"  SITE "D1";
LOCATE COMP "LED_RED"    SITE "E1";
LOCATE COMP "LED_GREEN"  SITE "E2";
LOCATE COMP "LED_YELLOW" SITE "E3";
LOCATE COMP "LED_ORANGE" SITE "F2";
DEFINE PORT GROUP "LED_group" "LED*";
IOBUF GROUP "LED_group" IO_TYPE=LVCMOS25;

LOCATE COMP "ADC_CSB_1" SITE "E14";
LOCATE COMP "ADC_CSB_2" SITE "E13";
LOCATE COMP "ADC_CSB_3" SITE "F12";
LOCATE COMP "ADC_CSB_4" SITE "F13";
LOCATE COMP "ADC_CSB_5" SITE "F14";
LOCATE COMP "ADC_CSB_6" SITE "G12";
LOCATE COMP "ADC_CSB_7" SITE "G14";
LOCATE COMP "ADC_CSB_8" SITE "G13";
LOCATE COMP "ADC_CSB_9" SITE "H12";
LOCATE COMP "ADC_CSB_10" SITE "J12";
LOCATE COMP "ADC_CSB_11" SITE "J14";
LOCATE COMP "ADC_CSB_12" SITE "J13";
DEFINE PORT GROUP "ADC_CSB_group" "ADC_CSB*";
IOBUF GROUP "ADC_CSB_group" IO_TYPE=LVCMOS25;

# SPI to TRB
LOCATE COMP "SPI_TRB_CLK_0" SITE "M11";
LOCATE COMP "SPI_TRB_CLK_1" SITE "P12";
LOCATE COMP "SPI_TRB_CS_0"  SITE "M10";
LOCATE COMP "SPI_TRB_CS_1"  SITE "P11";
LOCATE COMP "SPI_TRB_IN_0"  SITE "A11";
LOCATE COMP "SPI_TRB_IN_1"  SITE "B12";
LOCATE COMP "SPI_TRB_OUT_0" SITE "M9";
LOCATE COMP "SPI_TRB_OUT_1" SITE "N10";
DEFINE PORT GROUP "SPI_TRB_group" "SPI_TRB*";
IOBUF GROUP "SPI_TRB_group" IO_TYPE=LVCMOS25;
IOBUF PORT "SPI_TRB_IN_0" IO_TYPE=LVCMOS25;
IOBUF PORT "SPI_TRB_IN_1" IO_TYPE=LVCMOS25; 


# SPI to CABLE_CONN1/2
LOCATE COMP "SPI_CONN_L_CLK" SITE "A7";
LOCATE COMP "SPI_CONN_L_CS"  SITE "B5";
LOCATE COMP "SPI_CONN_L_IN"  SITE "A10";
LOCATE COMP "SPI_CONN_L_OUT" SITE "C9";
LOCATE COMP "SPI_CONN_H_CLK" SITE "A2";
LOCATE COMP "SPI_CONN_H_CS"  SITE "A3";
LOCATE COMP "SPI_CONN_H_IN"  SITE "P3";
LOCATE COMP "SPI_CONN_H_OUT" SITE "P2";
DEFINE PORT GROUP "SPI_CONN_group" "SPI_CONN*";
IOBUF GROUP "SPI_CONN_group" IO_TYPE=LVDS25;
IOBUF PORT "SPI_CONN_H_OUT" IO_TYPE=LVDS25E; # special handling, no true LVDS available

# general purpose
LOCATE COMP "GP_LINE_0" SITE "C12"; # GP0
LOCATE COMP "GP_LINE_1" SITE "N3";  # GP2
LOCATE COMP "GP_LINE_2" SITE "M4";  # GP4
LOCATE COMP "GP_LINE_3" SITE "N5";  # GP6
LOCATE COMP "GP_LINE_4" SITE "N6";  # GP8
LOCATE COMP "GP_LINE_5" SITE "P7";  # GP10
LOCATE COMP "GP_LINE_6" SITE "M7";  # GP12
LOCATE COMP "GP_LINE_7" SITE "P8";  # GP14
LOCATE COMP "GP_LINE_8" SITE "P9";  # GP16
LOCATE COMP "GP_LINE_9" SITE "N12"; # GP18
DEFINE PORT GROUP "GP_LINE_group" "GP_LINE*";
IOBUF GROUP "GP_LINE_group" IO_TYPE=LVDS25E;
IOBUF PORT "GP_LINE_0" IO_TYPE=LVDS25;



